<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="PracticeWeb" parallel="none">
	<test name="PracticeWebTest">
    <classes>
	<class name="sac.PracticeWeb.baseSetUp.TestBaseSetUp"/>
	<class name="sac.PracticeWeb.Test.HomePageTest"/>
	<class name="sac.PracticeWeb.Test.DemoSitePageTest"/>
	<class name="sac.PracticeWeb.Test.DraggablePageTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->